*{
    font-family: fantasy;
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-size: 100px;
    position: relative;
    background-color: #004080;
    /* padding-top: 60px; */
}

.spacer{
    height: 100px;
}

nav{
    height: 100px;
    width: 100%;
    background-color: #FFA500;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

#logo{
    height: 100%;
    display: flex;
}

#logo img {
    height: 100%;
}

#logo span{
    font-size: xx-large;
    color: whitesmoke;
    align-self: center;
    margin-left: 10px;
}

#navEle{
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin: 0 20px;
}

#navEle ul{
    display: flex;
    gap: 20px;
}

#navEle ul li{
    list-style: none;
    height: 100%;
}

#navEle ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: xx-large;
}

#navEle ul li a:hover{
    background-color: #004080;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}

#logo span:hover{
    /* border: 5px solid #004080; */
    background-color: #004080;
    padding: 0 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
}

.idcards{
    height: 400px;
    width: 400px;
    margin: 10px;
    border: 2px solid whitesmoke;
    font-size: large;
    color: whitesmoke;
    border-radius: 15px;
}

.cards .idcards img{
    margin-top: 10px;
    height: 75%;
    width: 90%;
    border-radius: 15px;
}

.cards .idcards p{
    line-height: 50px;
}

.idcards:hover{
    box-shadow: 0 0 20px whitesmoke;
}

#quote{
    font-size: 60px;
    color: whitesmoke;
}
hr{
    width: 90%;
    margin: 0 auto;
    background-color: #FFA500;
}

#set1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: 100px 200px;
    color: whitesmoke;
}

#socials>i:hover{
    /* box-shadow: 0 0 150px rgb(183, 23, 23); */
    font-size: 40px;
    box-shadow: 0 0 15px whitesmoke;
    border-radius: 100%;
    background-color: #FFA500;
}

#set2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 100px 100px;
}

#causes ul li{
    list-style: none;
    color: whitesmoke;
    text-align: left;
    /* line-height: 50px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#links{
    display: flex;
    flex-direction: column;
    
}
#links a{
    color: whitesmoke;
    text-decoration: none;
}

#links a:hover{
    box-shadow: 0 0 15px whitesmoke;
    border-radius: 15px;
    /* background-color: #FFA500; */
    border: 3px solid #FFA500;
}

footer{
    background: #ffffff44;
    border: 5px solid #FFA500;
}

h3{
    color: #FFA500;
    font-weight: 400;
}

#address span{
    color: #FFA500;
}