<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE</title>
</head>

<body>
    <h2>DELETE:<%=user[0]["id"]%>
    </h2>
    <form action="/users/<%=user[0]["id"]%>/delete?_method=PATCH" method="post">
        <textarea name="name" id="name" disabled><%=user[0]["username"]%></textarea><br>
        <input type="password" name="pass" id="pass" placeholder="password">
        <button>DELETE</button>
    </form>
</body>

</html>