<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <link rel="stylesheet" href="/style2.css">
</head>

<body>
    <h1>WELCOME</h1>
    <form action="/users/new" method="post">
        <input type="text" placeholder="username" name="username" required><br>
        <input type="text" placeholder="email" name="emil" required><br>
        <input type="password" placeholder="password" name="password" required><br>
        <button>JOIN</button>
    </form>
</body>

</html>
